{% extends 'main.html' %}

{% block title %} Post listing {% endblock %}

{% block content %}
    <ul>
   {% for post in object_list %}
    <li>
        <p>
            TITLE:
            <br>
            {{ post.title }}
        </p>
        <p>
            TEXT:
            <br>
            {{ post.text }}
        </p>
        <p>
            AUTHOR:
            <br>
            {{ post.created_by }}
        </p>
    </li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
    </ul>

{% endblock %}