{% extends 'main.html' %}

{% block title %} Post listing {% endblock %}

{% block content %}
    <ul>
        {% for post in posts %}
            <div class="card-body">
                <h5 class="card-title"> {{ post.title }}</h5>
                <p class="card-text">{{ post.text|truncatechars:150 }}</p>
                <p class="card-text">Likes: <span id="like-count">{{ post.get_likes }}</span></p>
                <p><a class="btn-primary btn" href="{% url 'detail' post.pk %}">Go to post</a></p>
            </div>
        {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
    </ul>

{% endblock %}
