{% extends 'main.html' %}

{% block title %} Post listing {% endblock %}

{% block content %}
    <div class="list-group">
        <a href="{% url 'signup' %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">User Signup</h5>
            </div>
            <p class="mb-1 text-primary">user/signup</p>
            <small>And some small print.</small>
        </a>
        <a href="{% url 'login' %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">User Login</h5>
            </div>
            <p class="mb-1 text-primary">user/login</p>
            <small>And some small print.</small>
        </a>
        <a href="{% url 'user' %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Get user info</h5>
            </div>
            <p class="mb-1 text-primary">user/</p>
            <small>Get last request and last login time. User must be logged!</small>
        </a>
        <a href="{% url 'analytics' %}?date_from=2022-02-12&date_to=2022-03-22"
           class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Get like analytics</h5>
            </div>
            <p class="mb-1 text-primary">analytics/</p>
            <small>Specify date_from and date_to like the following pattern:
                ?date_from=2022-02-12&date_to=2022-03-22</small>
        </a>
        <a href="{% url 'creation' %}?date_from=2022-02-12&date_to=2022-03-22"
           class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Create post</h5>
            </div>
            <p class="mb-1 text-primary">post/creation</p>
            <small>User must be logged</small>
        </a>
        <a href="{% url 'detail' 1 %}?date_from=2022-02-12&date_to=2022-03-22"
           class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">View post detail and like/dislike</h5>
            </div>
            <p class="mb-1 text-primary">post/detail/id</p>
            <small>User must be logged</small>
        </a>
        <a href="{% url 'posts' %}?date_from=2022-02-12&date_to=2022-03-22"
           class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">View post list</h5>
            </div>
            <p class="mb-1 text-primary">posts/</p>
        </a>
    </div>
{% endblock %}
